
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /word%20press/wordpress-new/wordpress-property/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /word%20press/wordpress-new/wordpress-property/index.php [L]
</IfModule>

# END WordPress